@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

	--color-primary-50: #f0fdf4;
	--color-primary-100: #dcfce7;
	--color-primary-200: #bbf7d0;
	--color-primary-300: #86efac;
	--color-primary-400: #4ade80;
	--color-primary-500: #22c55e;
	--color-primary-600: #16a34a;
	--color-primary-700: #15803d;
	--color-primary-800: #166534;
	--color-primary-900: #14532d;
	--color-primary-950: #052e16;
    
    --color-cashfeed-dark: #1e2b26;
    --color-cashfeed-green: #00c67e;
    --color-cashfeed-light: #f4f6f5;

	--font-body: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-display: var(--font-body);

    --animate-blob: blob 7s infinite;
    
    @keyframes blob {
        0% { transform: translate(0px, 0px) scale(1); }
        33% { transform: translate(30px, -50px) scale(1.1); }
        66% { transform: translate(-20px, 20px) scale(0.9); }
        100% { transform: translate(0px, 0px) scale(1); }
    }
}

@layer base {
    body {
        @apply font-body text-gray-900 antialiased bg-white;
    }
}
